/*! =========================================================================
   2. FOOTER
   ========================================================================= */

.footer
  text-align center

.love
  position relative
  top 2px
  display inline-block
  font-size 1.9rem
  color #e74c3c
  transform scale(.9)
  animation love .5s infinite linear alternate-reverse

@keyframes love
  to
    transform scale(1.2)
