/*! =========================================================================
   0. GLOBAL
   ========================================================================= */

body
  font-family "Open Sans", sans-serif
  font-size 18px
  font-style normal
  color #29251f
  background $white

.debug
  border 1px solid $black

.fork-ribbon
  position absolute
  z-index 1
  top 0
  right 0
  border 0
