/*! =========================================================================
   3. RESPONSIVE
   ========================================================================= */

/*! 3.1 LARGE DEVICES, WIDE SCREENS
   ========================================================================= */

@media only screen and (max-width: 1200px)
  .product 
    .sold-out
      margin-left -35px

/*! 3.2 MEDIUM DEVICES, DESKTOPS
   ========================================================================= */

@media only screen and (max-width: 992px)
  .product 
    .sold-out
      margin-right 222px
      margin-left 222px

/*! 3.3 SMALL DEVICES, TABLETS LANDSCAPE
   ========================================================================= */

@media only screen and (max-width: 768px)
  .product 
    .sold-out
      margin-right 200px
      margin-left 200px

/*! 3.4 SMALL DEVICES, TABLETS PORTRAIT
   ========================================================================= */

@media only screen and (max-width: 600px)
  .product 
    .sold-out
      margin-right 140px
      margin-left 140px

/*! 3.5 EXTRA SMALL DEVICES, PHONES
   ========================================================================= */

@media only screen and (max-width: 480px)
  .nav-cart
    margin-top 285px

  .product 
    .sold-out
      margin-right 50px
      margin-left 50px

/*! 3.6 CUSTOM, IPHONE RETINA
   ========================================================================= */

@media only screen and (max-width: 360px)
  .nav-cart
    margin-top 280px

  .product 
    .sold-out
      margin-right 25px
      margin-left 25px
