// Font
$font-primary = "Open Sans", sans-serif
$font-secondary = "Delius Unicase", cursive

// Width and Height
$width = 100%
$height = 100%

// Colors
$white = #fff
$black = #000
$light-neon = #affcf4
$light-blue-neon = #318bf7
